*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* header  */
header{
    background-color: #255ee9;
    height: 90px;
    font-size: 18.5px;
    line-height: 90px;
}

.logo{
    width: 25%;
    float: left;
}

.logo img{
    width: 140px;
    vertical-align: middle;
    margin-left: 8px;
}

nav{
    width: 55%;
    float: left;
    text-align: center;
}

header li{
    display: inline-block;
    list-style: none;
    margin-right: 45px;
}

header li a{
    text-decoration: none;
    color: white;
}

header li:hover{
    text-decoration: underline;
}

.login{
    width: 20%;
    float: left;
    text-align: right;
}

.login .button{
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 16px;
}

.button{
    text-decoration: none;
}

.login .button:hover{
    color: #5865f2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* jumbo */

.jumbotron{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    height: 625px;
    text-align: center;
    color: white;
    margin-bottom: 130px;
}

.jumbotron h1{
    font-size: 65px;
    padding-top: 120px;
}

.jumbotron p{
    width: 62%;
    font-size: 23px;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 45px;
    margin-bottom: 45px;
    line-height: 38px;
}

.jumbotron .button{
    padding: 22px 40px;
    border-radius: 40px;
    font-size: 20px;
}

.jumbotron .button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jumbotron .button.white:hover{
    color: #5865f2;
}

.fas{
    margin-right: 15px;
}

.white{
    background-color: white;
    color: black;
    margin-right: 30px;
}

.black{
    background-color: #232728;
    color: white;
}

.violet{
    background-color: #8fa1e1;
    color: white;
}

/* main  */

main img{
    display: inline-block;
    width: 55%;
}

main .text-first{
    display: inline-block;
    width: 30%;
    position: relative;
    top: 30px;
    left: 150px;
}

main h1{
    font-size: 55px;
    margin-bottom: 30px;
}

main p{
    font-size: 24px;
}

.background{
    background-color: #f6f6f6;
    margin-top: -10px;
}

main .text-second{
    display: inline-block;
    width: 32%;
    position: absolute;
    top: 50px;

}

.second{
    position: relative;
    height: 500px;
}

.second img{
    position: absolute;
    right: 0px;
    top: 0px;
}

.third{
    margin-top: -100px;
    position: relative;
}

.text-third{
    width: 30%;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 50px;
}

.fourth{
    text-align: center;
    height: 1350px;
}

.fourth p{
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.fourth .image4{
    width: 100%;
}

main .button.violet{
    padding: 20px 30px;
    border-radius: 40px;
    width: 300px;
    font-size: 22px;
}

main .button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stars{
    width: 50%;
}

main h2{
    font-size: 35px;
    margin-bottom: 50px;
}

/* footer  */
footer{
    height: 750px;
    background-color: #23272a;
    color: white;
}

footer h2{
    color: #7288d3;
    font-size: 35px;
    width: 80%;
    margin-top: 80px;
}

footer #language{
    margin: 30px 0px;
}

.footer-top img{
    width: 25px;
    vertical-align: middle;
}

footer .left{
    width: 30%;
    float: left;
    height: 400px;
    padding-left: 20px;
}

footer .right{
    width: 16%;
    float: left;
    height: 600px;
    padding-top: 90px;
    padding-left: 20px;
}

footer .right.last{
    width: 22%;
}

footer #social span{
    font-size: 25px;
    margin-right: 25px;
}

footer li{
    list-style: none;
    padding-bottom: 20px;
    font-size: 18px;
    
}

footer li a{
    color: white;
    text-decoration: none;
}

footer ul li:first-child  a{
    color: #7288d3;
    text-decoration: none;
}

footer ul li:hover a{
    text-decoration: underline;
}

hr{
    border: 1px solid rgba(114,136,211, 0.3);
    position: relative;
}

footer .footer-bottom img{
    padding: 40px 0px;
}

#register{
    float: right;
    margin-top: 40px;
    padding: 10px 15px;
    border-radius: 25px;
}

#register:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* *** debug *** */



